{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Modifier mon mot de passe - Ease & Car{% endblock %}

{% block content %}
<div class="flex-column container mt-5">
<h1>Modifier mon nom</h1>

<a href="{{ path ('account') }}">Retourner à mon compte</a>
<hr>

{{ form (form) }}
<hr>
    </div>

{% endblock %}