{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Modifier mon mot de passe - Ease & Car{% endblock %}

{% block content %}
<div class="flex-column container mt-5">
<h1>Modifier mon mot de passe</h1>

<a href="{{ path ('account') }}">Retourner à mon compte</a>
<hr>
{% if notification %}
    <div class="alert {% if success is same as 'success' %} alert-info {% else %} alert-danger {% endif %}">
        {{ notification }}
    </div>
{% endif %}
{{ form (form) }}
<hr>
    </div>

{% endblock %}
