<form method="post" action="{{ path('notes_delete', {'id': note.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer ce commentaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note.id) }}">
    <button class="btn btn-danger btn-sm">supprimer</button>
</form>