{% extends 'base.html.twig' %}

{% block title %}New CGV{% endblock %}

{% block body %}
    <h1>Create new CGV</h1>

    {{ include('cgv/_form.html.twig') }}

    <a href="{{ path('cgv_index') }}">back to list</a>
{% endblock %}
