{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Société - Ease & Car{% endblock %}

{% block content %}
<div class="flex-column container">

    {{ include('easeandcar/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

</div>
{% endblock %}
