<form method="post" action="{{ path('contact_delete', {'id': contact.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer ce contact ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
    <button class="btn btn-danger dropdown-item">Supprimer</button>
</form>
