{% block body %}
    <div class="flex-column container mt-2 ">
        <h1>Modifier information voiture</h1>
        {{ include('facture/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
{% endblock %}